<p-toolbar>
  <ng-template #start>
    <div class="flex items-center justify-start gap-2 md:gap-4">
      <app-menu class="navbar__drawer"></app-menu>
      <a class="w-32 h-8" href="/" aria-label="Go to LeadLite home" title="LeadLite">
        <img
          class=""
          ngSrc="Lead Lite Large Rectangle.svg"
          width="160"
          height="40"
          priority
          alt="LeadLite" />
      </a>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center justify-start gap-2 md:gap-4">
      <app-theme-toggle class="navbar__toggle"></app-theme-toggle>
      <app-profile class="navbar__profile"></app-profile>
    </div>
  </ng-template>
</p-toolbar>
